<html layout:decorate="~{/layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pd-2">재고조정수정</h5>
	<form th:object="${inventoryUpdateForm}" method="post">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
		</div>
		<div class="mb-3">
			<label for="ININame" class="form-label">품목명</label>
			<input type="text" th:field="*{ININame}" name="ININame" id="ININame" class="form-control">
		</div>
		<div class="mb-3">
			<label for="INICode" class="form-label">품목코드</label>
			<input type="text" th:field="*{INICode}" name="INICode" id="INICode" class="form-control">
		</div>
		<div class="mb-3">
			<label for="jb-input-text">담당사번</label>
			<select name="INPNum" id="INPNum" class="form-control">
				<option value="">담당사번을 선택해주세요</option>
				<option th:each="employee : ${empList}" th:value="${employee.empnum}" th:text="${employee.empnum}"
					th:data-empname="${employee.empname}"></option>
			</select>
		</div>

		<div class="mb-3">
			<label for="INPName" class="form-label">담당자</label>
			<input type="text" th:field="*{INPName}" name="INPName" id="INPName" class="form-control INPName">
		</div>
		<div class="mb-3">
			<label for="INQuantity" class="form-label">수량</label>
			<input type="text" th:field="*{INQuantity}" name="INQuantity" id="INQuantity" class="form-control">
		</div>
		<div class="mb-3">
			<label for="INStandard" class="form-label">규격</label>
			<input type="text" name="INStandard" id="INStandard" class="form-control">
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2" style="left: 90%;">
		
		<script th:inline="javascript">

			$(document).ready(function () {
				$('#INPNum').change(function () {
					var valueempname = $(this).find(':selected').attr("data-empname");

					$('.INPName').val(valueempname);

				});
			});
		</script>
	</form>
</div>
