<html layout:decorate="~{/layout}">
<div layout:fragment="content">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">출고예정</h1>
	</div>

	<form th:object="${shippingForm}" method="post" style="width:500px;">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
		</div>
		<div class="mb-3">
			<label for="spdate" class="form-label">출고일자</label>
			<input type="date" th:field="*{spdate}" name="spdate" id="spdate" class="form-control">
		</div>

		<div class="form-group mb-3">
			<label for="accode" class="form-label">거래처코드</label>
			<select class="form-control" th:field="*{accode}" name="accode" id="accode">
				<option value="">-</option>
				<option th:each="account : ${accList}" th:value="${account.id}"
					th:text="${account.accode}+${account.accompany}" th:data-AC-Company="${account.accompany}">
				</option>
			</select>
		</div>

		<!--div class="mb-3">
			<label for="SPAName" class="form-label">거래처명</label>
			<input type="text" th:field="*{SPAName}" name="SPAName" id="SPAName" class="form-control">
		</div>
		<div class="mb-3">
			<label for="SPACode" class="form-label">거래처코드</label>
			<input type="text" th:field="*{SPACode}" name="SPACode" id="SPACode" class="form-control">
		</div-->

		<div class="form-group mb-3">
			<label for="itmcode" class="form-label">품목코드</label>
			<select class="form-control" th:field="*{itmcode}" name="itmcode" id="itmcode" required>
				<option value="">-</option>
				<option th:each="item : ${itemList}" th:value="${item.itmId}" th:text="${item.itmCode}+${item.itmName}"
					th:data-ItmName="${item.itmName}" th:data-ItmStandard="${item.itmStandard}"></option>
			</select>
		</div>

		<!--<div class="mb-3">
			<label for="SPIName" class="form-label">품목명</label>
			<input type="text" th:field="*{SPIName}" name="SPIName" id="SPIName" class="form-control">
		</div>
		<div class="mb-3">
			<label for="SPICode" class="form-label">품목코드</label>
			<input type="text" th:field="*{SPICode}" name="SPICode" id="SPICode" class="form-control">
		</div>-->

		<div class="form-group mb-3">
			<label for="empnum" class="form-label">담당사번</label>
			<select class="form-control " th:field="*{empnum}" name="empnum" id="empnum" required>
				<option value="">-</option>
				<option th:each="emp : ${empList}" th:value="${emp.id}" th:text="${emp.empnum}+${emp.empname}"
					th:data-empname="${emp.empname}"></option>
			</select>
		</div>

		<!--<div class="form-group mb-3">
			<label for="SPPNum" class="form-label">담당사번</label>
			<select class="form-control" th:field="*{SPPNum}" name="SPPNum" id="SPPNum">
				<option value="-">-</option>
				<option th:each="employee : ${empList}" th:value="${employee.empnum}" th:text="${employee.empnum}"
					th:data-empname="${employee.empname}"></option>
			</select>
		</div>

		<div class="mb-3">
			<label for="SPPName" class="form-label">담당자</label>
			<input type="text" th:field="*{SPPName}" name="SPPName" id="SPPName" class="form-control SPPName">
		</div>-->

		<!--div class="mb-3">
			<label for="SPPName" class="form-label">담당자</label>
			<input type="text" th:field="*{SPPName}" name="SPPName" id="SPPName" class="form-control">
		</div>
		<div class="mb-3">
			<label for="SPPNum" class="form-label">담당자사번</label>
			<input type="text" th:field="*{SPPNum}" name="SPPNum" id="SPPNum" class="form-control">
		</div-->


		<div class="mb-3">
			<label for="spdt" class="form-label">납기일자</label>
			<input type="date" th:field="*{spdt}" name="spdt" id="spdt" class="form-control">
		</div>
		<div class="mb-3">
			<label for="spcamount" class="form-label">출고수량</label>
			<input type="text" th:field="*{spcamount}" name="spcamount" id="spcamount" class="form-control">
		</div>
		<div class="mb-3">
			<label for="splocation" class="form-label">출고위치</label>
			<input type="text" th:field="*{splocation}" name="splocation" id="splocation" class="form-control">
		</div>
		<div class="form-group mb-3">
			<label for="spstate" class="form-label">진행상태</label>
			<select class="form-control" th:field="*{spstate}" name="spstate" id="spstate">
				<option value="-">-</option>
				<option value="미출고">미출고</option>
				<option value="출고">출고</option>
			</select>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2" style="left: 90%;">

		<script th:inline="javascript">

			$(document).ready(function () {
				$('#accode').change(function () {
					var valueaccompany = $(this).find(':selected').attr("data-accompany");

					$('#accompany').val(valueaccompany);

				});
			});

			$(document).ready(function () {
				$('#empnum').change(function () {
					var valueempname = $(this).find(':selected').attr("data-empname");
					$('#empname').val(valueempname);
				});
			});

			$(document).ready(function () {
				$('#itmCode').change(function () {
					var valueitmName = $(this).find(':selected').attr("data-itmName");
					var valueitmStandard = $(this).find(':selected').attr("data-itmStandard");

					$('#itmName').val(valueitmName);
					$('#itmStandard').val(valueitmStandard);

				});
			});
		</script>

	</form>
</div>

</html>