<html layout:decorate="~{/layout}">
<div layout:fragment="content">

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">수정 및 삭제</h1>
	</div>

	<table class="table table-bordered table-hover-td">
		<thead class="table-primary">
			<tr class="text-center">
				<th>일자-No.</th>
				<th>거래처명</th>
				<th>거래처코드</th>
				<th>품목명</th>
				<th>품목명코드</th>
				<th>담당자</th>
				<th>담당자사번</th>
				<th>납기일자</th>
				<th>입고수량</th>
				<th>입고위치</th>
				<th>진행상태</th>
			</tr>
		</thead>

		<body>
			<tr class="text-center">
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHDate}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHAName}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHACode}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHIName}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHICode}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHPName}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHPNum}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHDT}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHCAmount}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHLocation}">
				</td>
				<td>
					<th:text="@{| /warehousing/${warehousing.WHid}|}" th:text="${warehousing.WHState}">
				</td>
			</tr>
		</body>
	</table>
	<a th:href="@{|/warehousing/modify/${warehousing.WHid}|}" class="btn btn-primary my-2"
		style="left: 85%; margin-right: 5px;"> 수정</a>
	<a href="javascript:void(0);" th:data-uri="@{|/warehousing/delete/${warehousing.WHid}|}"
		class="delete btn btn-primary my-2" th:text="삭제" style="left: 85%;"> 삭제</a>

	<script type='text/javascript'>
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("정말로 삭제하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
	</script>
</div>

</html>