<html layout:decorate="~{/layout}">
<div layout:fragment="content">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">입고예정</h1>
	</div>
	<form th:object="${warehousingForm}" method="post" style="width:500px;">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
		</div>
		<div class="mb-3">
			<label for="whdate" class="form-label">입고일자</label>
			<input type="date" th:field="*{whdate}" name="whdate" id="whdate" class="form-control">
		</div>

		<div class="form-group mb-3">
			<label for="accode" class="form-label">거래처코드</label>
			<select class="form-control" th:field="*{accode}" name="accode" id="accode">
				<option value="">-</option>
				<option th:each="account : ${accList}" th:value="${account.id}"
					th:text="${account.accode}+${account.accompany}" th:data-AC-Company="${account.accompany}"></option>
			</select>
		</div>


		<!--div class="mb-3">
			<label for="WHAName" class="form-label">거래처명</label>
			<input type="text" th:field="*{WHAName}" name="WHAName" id="WHAName" class="form-control">
		</div>
		<div class="mb-3">
			<label for="WHACode" class="form-label">거래처코드</label>
			<input type="text" th:field="*{WHACode}" name="WHACode" id="WHACode" class="form-control">
		</div-->


		<div class="form-group mb-3">
			<label for="itmcode" class="form-label">품목코드</label>
			<select class="form-control" th:field="*{itmcode}" name="itmcode" id="itmcode" required>
				<option value="">-</option>
				<option th:each="item : ${itemList}" th:value="${item.itmId}" th:text="${item.itmCode}+${item.itmName}"
					th:data-ItmName="${item.ItmName}" th:data-ItmStandard="${item.itmStandard}"></option>
			</select>
		</div>
		
		
		<!--<div class="form-group mb-3">
			<label for="empnum" class="form-label">담당사번</label>
			<select class="form-control " th:field="*{empnum}" name="empnum" id="empnum" required>
				<option value="">-</option>
				<option th:each="emp : ${empList}" th:value="${emp.id}" th:text="${emp.empnum}+${emp.empname}"
					th:data-empname="${emp.empname}"></option>
			</select>
		</div>
-->
		<!--div class="mb-3">
			<label for="WHPName" class="form-label">담당자</label>
			<input type="text" th:field="*{WHPName}" name="WHPName" id="WHPName" class="form-control">
		</div>
		<div class="mb-3">
			<label for="WHPNum" class="form-label">담당자사번</label>
			<input type="text" th:field="*{WHPNum}" name="WHPNum" id="WHPNum" class="form-control">
		</div-->


		<div class="mb-3">
			<label for="whdt" class="form-label">납기일자</label>
			<input type="date" th:field="*{whdt}" name="whdt" id="whdt" class="form-control">
		</div>
		<div class="mb-3">
			<label for="whcamount" class="form-label">입고수량</label>
			<input type="text" th:field="*{whcamount}" name="whcamount" id="whcamount" class="form-control">
		</div>
		
		<div class="form-group mb-3">
			<label for="whstate" class="form-label">진행상태</label>
			<select class="form-control" th:field="*{whstate}" name="whstate" id="whstate">
				<option value="-">-</option>
				<option value="미입고">미입고</option>
				<option value="입고">입고</option>
			</select>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2" style="left: 90%;">

		<script th:inline="javascript">

			$(document).ready(function () {
				$('#accode').change(function () {
					var valueaccompany = $(this).find(':selected').attr("data-accompany");

					$('#accompany').val(valueaccompany);

				});
			});

			$(document).ready(function () {
				$('#empnum').change(function () {
					var valueempname = $(this).find(':selected').attr("data-empname");
					$('#empname').val(valueempname);
				});
			});

			$(document).ready(function () {
				$('#itmCode').change(function () {
					var valueitmName = $(this).find(':selected').attr("data-itmName");
					var valueitmStandard = $(this).find(':selected').attr("data-itmStandard");

					$('#itmName').val(valueitmName);
					$('#itmStandard').val(valueitmStandard);

				});
			});
		</script>

	</form>
</div>
</html>