<html layout:decorate="~{/layout}">
<div layout:fragment="content">

	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">수정 및 삭제</h1>
	</div>

	<table class="table table-bordered table-hover-td">
		<thead class="table-primary">
			<tr class="text-center">
				<th>입고일자-No.</th>
				<th>거래처명</th>
				<th>거래처코드</th>
				<th>품목명</th>
				<th>품목명코드</th>
				<th>담당자</th>
				<th>담당자사번</th>
				<th>납기일자</th>
				<th>입고수량</th>
				<th>입고위치</th>
				<th>진행상태</th>
			</tr>
		</thead>

		<body>
			<tr class="text-center">
				<td th:text="${warehousing.whnum}"></td>
				<td th:text="${warehousing.account.accompany}"></td>
				<td th:text="${warehousing.account.accode}"></td>
				<td th:text="${warehousing.item.itmName}"></td>
				<td th:text="${warehousing.item.itmCode}"></td>
				<td th:text="${warehousing.employee.empname}"></td>
				<td th:text="${warehousing.employee.empnum}"></td>
				<td th:text="${warehousing.whdt}"></td>
				<td th:text="${warehousing.whcamount}"></td>
				<td th:text="${warehousing.whlocation}"></td>
				<td th:text="${warehousing.whstate}"></td>
			</tr>
		</body>
	</table>


	<a th:href="@{|/warehousing/modify/${warehousing.whid}|}" class="btn btn-primary my-2"
		sec:authorize="isAuthenticated()"
		th:if="${warehousing.employee != null and #authentication.principal.empname == warehousing.employee.empname}"
		th:text="수정"></a>


	<!--<a th:href="@{|/warehousing/modify/${warehousing.whid}|}" class="btn btn-primary my-2"
		style="left: 85%; margin-right: 5px;"> 수정</a>-->
	<a href="javascript:void(0);" th:data-uri="@{|/warehousing/delete/${warehousing.whid}|}"
		class="delete btn mx-2 border-primary text-primary" sec:authorize="isAuthenticated()"
		th:if="${warehousing.employee != null and #authentication.principal.empname == warehousing.employee.empname}"
		th:text="삭제" style="left: 85%;"> 삭제</a>

	<a th:href="@{|/warehousing/list|}" class="btn border-primary text-primary">목록</a>

	<script type='text/javascript'>
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("정말로 삭제하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
	</script>
</div>

</html>