<html layout:decorate="~{layout}">

<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">품목그룹 등록</h1>
	</div>
	
	<table class="table table-bordered table-hover-td" style="width:500px;">
	    <thead class="table-primary">
	        <tr class="text-center">
				<th>#</th>
	            <th>품목그룹코드</th>
	            <th>품목그룹명</th>
	            <th>수정/삭제</th>
	        </tr>
	    </thead>
	    <tbody class="table-group-divider">
	        <tr class="text-center" th:each="itemGroup, loop:${itemGroupList}">
				<td th:text="${loop.count}"></td>
	            <td th:text="${itemGroup.IgCode}" class="text-primary"></td>
	            <td th:text="${itemGroup.IgName}"></td>
	            <td>
					<a th:href="@{|/basic/itemgroup/modify/${itemGroup.id}|}"><img src="/img/pencil-solid.svg" alt="수정" style="height:15px"></a> / 
					<a href="#"><img src="/img/trash-can-solid.svg" alt="삭제" style="height:15px"></a>
				</td>
	        </tr>
	    </tbody>
	</table>
	
	<div>
		<a th:href="@{/basic/itemgroup/create}" class="btn btn-primary">추가</a>
	</div>
	
</div>

</html>