<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">거래처 현황</h1>
	</div>
	
	<table class="table table-bordered table-hover-td" style="width:80%;">
	    <thead class="table-primary">
	        <tr class="text-center">
				<th>번호</th>
				<th>거래처 회사코드</th>
				<th>거래처 상호명</th>
				<th>대표이사 성함</th>
				<th>물품명</th>
				<th>첫 거래날짜</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<tr class="text-center" th:each="Account, loop:${paging}">
				<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
				<td th:text="${Account.accode}"></td>
				<td>
					<a th:href="@{|/account/detail/${Account.id}|}" th:text="${Account.accompany}"></a>
				</td>
				<td th:text="${Account.acname}"></td>
				<td th:text="${Account.acitem}"></td>
				<td th:text="${Account.acdate}"></td>	
			</tr>
		</tbody>
	</table>
	 <div th:if="${!paging.isEmpty()}">
      <ul class="pagination justify-content-center">
         <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
               <span>이전</span>
            </a>
         </li>
         <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            th:if="${page >= paging.number-5 and page <= paging.number+5}"
            th:classappend="${page == paging.number} ? 'active'" class="page-item">
            <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
         </li>
         <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
               <span>다음</span>
            </a>
         </li>
      </ul>
   </div>

	<div>
		<a th:href="@{/account/create}" class="btn btn-primary">거래처 추가</a>
	</div>

</div>
	
</html>