<html layout:decorate="~{/layout}">
	<div layout:fragment="content" class="container my-3">
		<h1 class="border-bottom py-2" th:text="${account.AC_Company}"></h1>
	<h2 th:text="|대표이사|"></h2>
	<div class="card my-3">
	<div class="card-body">
		<div class="card-text" style="white-space: pre-line;" th:text="${account.AC_Name}"></div>
	</div>
</div>
	<h3 th:text="|대표이사 전화번호|"></h3>
		<div class="card my-3">
			<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${account.AC_Phone}"></div>
	</div>
</div>
	
	<h4 th:text="|회사 주소|"></h4>
		<div class="card my-3">
			<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${account.AC_Address}"></div>
		</div>
	</div>
	
	
	<h5 th:text="|제품정보|"></h5>
		<div class="card my-3">
			<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${account.AC_Item}"></div>
	</div>
</div>

	<h6 th:text="|제품가격|"></h6>
		<div class="card my-3">
			<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${account.AC_Price}"></div>
	</div>
	
	<h7 th:text="|부가세율|"></h7>
		<div class="card my-3">
			<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${account.VAT}"></div>
	</div>
	
</div>
	
	<h8 th:text="|회사 전화번호|"></h8>
		<div class="card my-3">
			<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${account.AC_Num}"></div>
	</div>
</div>
<div class="my-3">
	<a th:href="@{|/account/update/${id}|}" class="btn btn-primary">거래처 정보수정</a>
	<a th:data-uri="@{|/account/delete/${id}|}" class="delete btn btn-primary">거래처 삭제</a>
	
</div>

</div>

<script layout:fragment="script" type="text/javascript">
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function(element){
		element.addEventListener('click', function(){
			if(confirm("정말로 삭제하시겠습니까?")){
				location.href = this.dataset.uri;
			};
		});
	});
</script>

</html>