<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">거래처 현황</h1>
	</div>
	
	<table class="table table-bordered table-hover-td" style="width:80%;">
	    <thead class="table-primary">
	        <tr class="text-center">
				<th>번호</th>
				<th>거래처 회사코드</th>
				<th>거래처 상호명</th>
				<th>대표이사 성함</th>
				<th>물품명</th>
				<th>첫 거래날짜</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<tr class="text-center" th:each="Account, loop:${AccList}">
				<td th:text="${loop.count}"></td>
				<td th:text="${Account.AC_Code}"></td>
				<td>
					<a th:href="@{|/account/detail/${Account.id}|}" th:text="${Account.AC_Company}"></a>
				</td>
				<td th:text="${Account.AC_Name}"></td>
				<td th:text="${Account.AC_Item}"></td>
				<td th:text="${Account.AC_Date}"></td>	
			</tr>
		</tbody>
	</table>
	
	<div>
		<a th:href="@{/account/create}" class="btn btn-primary">거래처 추가</a>
	</div>
	
</html>