<html layout:decorate="~{/layout}">
	<div layout:fragment="content" class="container my-3">
		<h1 class="my-3 border-bottom pb-2">거래처 추가</h1>
		<form th:action="@{/account/create}" th:object="${accCreateForm}" method="post">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        	</div>
			<div class="mb-3">
				<label for="jb-input-text">거래처 상호명 - 30자까지 입력 가능합니다.</label>
				<input type="text" name="AC_Company" id="AC_Company" class="form-control">
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">거래처 주소 - 100자까지 입력 가능합니다.</label>
				<input type="text" name="AC_Address" id="AC_Address" class="form-control">
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">회사 전화번호 - 031-111-1111 형식으로 입력해주세요.</label>
				<input type="text" name="AC_Num" id="AC_Num" class="form-control">
			</div>
			
			
			<div class="mb-3">
				<label for="jb-input-text">대표이사 성함 - 20자까지 입력 가능합니다.</label>
				<input type="text" name="AC_Name" id="AC_Name" class="form-control">
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">대표이사 연락처 - 010-1234-1234 형식으로 입력해주세요.</label>
				<input type="text" name="AC_Phone" id="AC_Phone" class="form-control">
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">물품명 - 30자까지 입력 가능합니다.</label>
				<input type="text" name="AC_Item" id="AC_Item" class="form-control">
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">물품코드 - 11자까지 입력 가능합니다.</label>
				<input type="text" name="AC_Icode" id="AC_Icode" class="form-control">
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">물품가격 - 0 ~ 9999999 입력 가능합니다.</label>
				<input type="text" name="AC_Price" id="AC_Price" class="form-control">
			</div>
			
			
			<div class="mb-3">
				<label for="jb-input-text">첫 거래날짜 yyyy-mm-dd</label>
				<input type="date" name="AC_Date" id="AC_Date" class="form-control">
			</div>
			
			<div class="mb-3">
				<input type="submit" value="거래처 추가하기" class="btn btn-primary my-2">
			</div>
			
			
		</form>
	</div>
</html>