<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800" th:text="${account.accompany}"></h1>
	</div>
	
	<table class="table table-bordered table-hover-td" style="max-width:800px;">
		<tbody class="table-group-divider">
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">대표이사</th>
				<td th:text="${account.acname}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">대표이사 전화번호</th>
				<td th:text="${account.acphone}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">회사 주소</th>
				<td th:text="${account.acaddress}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">회사 전화번호</th>
				<td th:text="${account.acnum}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">제품 정보</th>
				<td th:text="${account.acitem}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">제품 가격</th>
				<td th:text="${account.acprice + '원'}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">부가세율</th>
				<td th:text="${account.vat + '%'}"></td>
			</tr>
		</tbody>
	</table>
	
		<div style="display:flex;">
			<a th:href="@{|/account/update/${id}|}" class="btn btn-primary">수정</a>
			<a href="javascript:void(0);" th:data-uri="@{|/account/delete/${id}|}" class="delete btn mx-2 border-primary text-primary">삭제</a>
			<a th:href="@{|/account/list|}" class="btn border-primary text-primary">목록</a>
		</div>

		<script type="text/javascript">
			const delete_elements = document.getElementsByClassName("delete");
			Array.from(delete_elements).forEach(function(element){
				element.addEventListener('click', function(){
					if(confirm("정말로 삭제하시겠습니까?")){
						location.href = this.dataset.uri;
					};
				});
			});
		</script>

</div>

</html>