<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class="m-3">
		
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">거래처 추가</h1>
		</div>
	
		<form th:action="@{/account/create}" th:object="${accCreateForm}" method="post" Style="max-width:600px;">
			
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            	<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        	</div>
        	
			<div class="my-3">
				<label for="jb-input-text">거래처 상호명 - 30자까지 입력 가능합니다.</label>
				<input type="text" name="accompany" id="accompany" th:field="*{accompany}" class="form-control">
			</div>
			
			<div class="my-3">
				<label for="jb-input-text">거래처 주소 - 100자까지 입력 가능합니다.</label>
				<input type="text" name="acaddress" id="acaddress" th:field="*{acaddress}" class="form-control">
			</div>
			
			<div class="my-3">
				<label for="jb-input-text">거래처 전화번호 - 031-111-1111 형식으로 입력해주세요.</label>
				<input type="text" name="acnum" id="acnum" th:field="*{acnum}" class="form-control">
			</div>
			
			<div class="my-3">
				<label for="jb-input-text">대표이사 성함 - 20자까지 입력 가능합니다.</label>
				<input type="text" name="acname" id="acname" th:field="*{acname}" class="form-control">
			</div>
			
			<div class="my-3">
				<label for="jb-input-text">대표이사 연락처 - 010-1234-1234 형식으로 입력해주세요.</label>
				<input type="text" name="acphone" id="acphone" th:field="*{acphone}" class="form-control">
			</div>
			
			<div class="my-3">
				<label for="jb-input-text">물품코드 - 11자까지 입력 가능합니다.</label>
				<input type="text" name="acicode" id="acicode" th:field="*{acicode}" class="form-control">
			</div>

			<div class="my-3">
				<label for="jb-input-text">물품명 - 30자까지 입력 가능합니다.</label>
				<input type="text" name="acitem" id="acitem" th:field="*{acitem}" class="form-control">
			</div>
			
			
			<div class="my-3">
				<label for="jb-input-text">물품가격 - 0 ~ 9999999 입력 가능합니다.</label>
				<input type="text" name="acprice" id="acprice" th:field="*{acprice}" class="form-control">
			</div>
			
			<div class="pb-3 my-3 border-bottom">
				<label for="jb-input-text">첫 거래날짜 yyyy-mm-dd</label>
				<input type="date" name="acdate" id="acdate" th:field="*{acdate}" class="form-control">
			</div>
			
			<div style="display:flex;">
				<input type="submit" value="저장" class="btn btn-primary">
        		<a href="/account/list" class="btn mx-2 border-primary text-primary">취소</a>
			</div>
			
		</form>
		
</div>
	
</html>