<html layout:decorate="~{/layout}">
	<div layout:fragment="content" class="container my-3">
		<h1 class=" my-3 border-bottom pb-2">발주 신청</h1>
		<form id="form1" th:action="@{/orders/create}" th:object="${orCreateForm}" method="post">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">발주할 내용의 구매정보 코드를 아래 체크박스에서 골라주세요.</label>
				<select name="ornum" id="ornum" class="form-control" style="width: 50%;">
					<option value="">구매정보 코드를 선택해주세요.</option>
					<option th:each="purchase : ${PurList}" th:value="${'OR-' + purchase.pcnum}" 
					th:text="${purchase.pcnum}"
					th:data-PC-Company="${purchase.pccompany}"
					th:data-PC-Item="${purchase.pcitem}"
					th:data-PC-Icode="${purchase.pcicode}"
					th:data-PC-Count="${purchase.pccount}"
					th:data-PC-Price="${purchase.pcprice}"
					th:data-PC-CP="${purchase.pccp}"
					th:data-PC-VAT="${purchase.pcvat}"
					th:data-PC-VATSUM="${purchase.pcvatsum}"
					th:data-PC-Code="${purchase.pccode}">
					</option>
				</select>	
			</div>
			
			<div>
				회사명 <input type="text" id="orcompany" name="orcompany"  class="form-control orcompany">
			</div>
			
			<div>
				회사코드 <input type="text" id="orcode" name="orcode"  class="form-control orcode">
			</div>
			
			<div>
				발주 제품명 <input type="text" id="oritem" name="oritem"  class="form-control oritem">
			</div>
			
			<div>
				발주 제품코드 <input type="text" id="oricode" name="oricode"  class="form-control oricode">
			</div>
			
			<div>
				발주 제품수량 <input type="text" id="orcount" name="orcount"  class="form-control orcount">
			</div>
			
			<div>
				발주 제품단가 <input type="text" id="orprice" name="orprice"  class="form-control orprice">
			</div>
			
			<div>
				공급가액 <input type="text" id="orcp" name="orcp"  class="form-control orcp">
			</div>
			
			<div>
				부가세액 <input type="text" id="orvat" name="orvat"  class="form-control orvat">
			</div>
			
			<div>
				발주 총 액 <input type="text" id="orvatsum" name="orvatsum"  class="form-control orvatsum">
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">발주 신청날짜</label>
				<input type="date" name="ordate" id="ordate" th:field="*{ordate}" class="form-control">
			</div>
			
			<div class="mb-3">
			<input type="button" onclick="formSubmit();" value="발주신청 완료" class="btn btn-primary my-2">
		</div>
			
			<script th:inline="javascript">
			$(document).ready(function () {
				$('#OR_Num').change(function () {
					// purchase 테이블에서 값을 가져오는 부분
					var valuePC_Company = $(this).find(':selected').attr("data-PC-Company");
					var valuePC_Item = $(this).find(':selected').attr("data-PC-Item");
					var valuePC_Icode = $(this).find(':selected').attr("data-PC-Icode");
					var valuePC_Code = $(this).find(':selected').attr("data-PC-Code");
					var valuePC_Count = $(this).find(':selected').attr("data-PC-Count");
					var valuePC_Price = $(this).find(':selected').attr("data-PC-Price");
					var valuePC_CP = $(this).find(':selected').attr("data-PC-CP");
					var valuePC_VAT = $(this).find(':selected').attr("data-PC-VAT");
					var valuePC_VATSUM = $(this).find(':selected').attr("data-PC-VATSUM");
					
					
					// 각 값을 orders 테이블에 할당하는 부분
					$('.orcompany').val(valuePC_Company);
					$('.oritem').val(valuePC_Item);
					$('.oricode').val(valuePC_Icode);
					$('.orcode').val(valuePC_Code);
					$('.orcount').val(valuePC_Count);
					$('.orprice').val(valuePC_Price);
					$('.orcp').val(valuePC_CP);
					$('.orvat').val(valuePC_VAT);
					$('.orvatsum').val(valuePC_VATSUM);
					
				});
			});
			
			function formSubmit(){
				document.getElementById("form1").submit();
			}
			</script>
		</form>
	</div>
</html>