<html layout:decorate="~{/layout}">
	<div layout:fragment="content">
		
		<h1> 발주 현황 </h1>
		<table class="table table-bordered table hover-td">
			<thead class="table-primary">
				<tr class="text-center">
					<th>번호</th>
					<th>발주번호</th>
					<th>발주 회사명(회사코드)</th>
					<th>발주 제품</th>
					<th>발주 제품 수량(제품가격)</th>
					<th>공급가액</th>
					<th>총 액</th>
					<th>발주 날짜</th>
				</tr>
			</thead>
			
			<tbody>
				<tr class="text-center" th:each="Orders, loop:${OrList}">
					<td th:text="${loop.count}"></td>
					<td th:text="${Orders.ornum}"></td>
					<td th:text="${Orders.orcompany + '(' + Orders.orcode + ')'}"></td>
					<td th:text="${Orders.oritem}"></td>
					<td th:text="${Orders.orcount + '개' + '(' + Orders.orprice + '원)'}"></td>
					<td th:text="${Orders.orcp + '원'}"></td>
					<td th:text="${Orders.orvatsum + '원'}"></td>
					<td th:text="${Orders.ordate}"></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/orders/create}" class="btn btn-primary">발주 신청</a>
	</div>
	
</html>