<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">구매 입력</h1>
	</div>
	
	<form id="form1" th:action="@{/purchase/create}" th:object="${purCreateForm}" method="post" style="width:40%;">
		
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
		</div>

		<div class="my-3">
			<label for="PC_Code">구매회사 코드</label>
			<select name="PC_Code" id="PC_Code" class="form-control">
				<option value="">-</option>
				<option th:each="account : ${AccList}" th:value="${account.AC_Code}" th:text="${account.AC_Code}"
					th:data-AC-Company="${account.AC_Company}" th:data-AC-Item="${account.AC_Item}"
					th:data-AC-Icode="${account.AC_Icode}" th:data-AC-Price="${account.AC_Price}"></option>
			</select>
		</div>

		<div class="my-3">
			<label for="PC_Company">회사명</label>
			<input type="text" id="PC_Company" name="PC_Company"  class="form-control PC_Company">
		</div>

		<div class="my-3">
			<label for="PC_Item">제품명</label>
			<input type="text" id="PC_Item" name="PC_Item" class="form-control PC_Item">
		</div>

		<div class="my-3">
			<label for="PC_Icode">제품코드</label>
			<input type="text" id="PC_Icode" name="PC_Icode"  class="form-control PC_Icode">
		</div>

		<div class="my-3">
			<label for="PC_Price">제품가격</label>
			<input type="text" id="PC_Price" name="PC_Price" class="form-control PC_Price">
		</div>

		<div class="my-3">
			<label for="PC_Count">물품 구매 수량 (1 ~ 999까지 입력 가능)</label>
			<input type="number" min="1" max="999" step="1" name="PC_Count" id="PC_Count" th:field="*{PC_Count}" class="form-control">
		</div>
		
		<div class="pb-3 my-3 border-bottom">
			<label for="PC_Date">구매 신청날짜</label>
			<input type="date" name="PC_Date" id="PC_Date" th:field="*{PC_Date}" class="form-control">
		</div>
			
		<input type="hidden" name="PC_CP" id="PC_CP" th:value="${PC_CP}" class="form-control">
		<input type="hidden" name="PC_VAT" id="PC_VAT" th:field="*{PC_VAT}" class="form-control">
		<input type="hidden" name="PC_VATSUM" id="PC_VATSUM" th:field="*{PC_VATSUM}" class="form-control">
		
		<div style="display:flex;">
			<input type="button" onclick="formSubmit();" value="구매 신청" class="btn btn-primary">
			<a href="/purchase/list" class="btn mx-2 border-primary text-primary">취소</a>
		</div>

	</form>

		<script th:inline="javascript">
			$(document).ready(function () {
				$('#PC_Code').change(function () {
					var valueAC_Company = $(this).find(':selected').attr("data-AC-Company");
					var valueAC_Item = $(this).find(':selected').attr("data-AC-Item");
					var valueAC_Icode = $(this).find(':selected').attr("data-AC-Icode");
					var valueAC_Price = $(this).find(':selected').attr("data-AC-Price");

					// 각 값을 PC_Company, PC_Item, PC_Icode, PC_Price에 할당합니다.
					$('.PC_Company').val(valueAC_Company);
					$('.PC_Item').val(valueAC_Item);
					$('.PC_Icode').val(valueAC_Icode);
					$('.PC_Price').val(valueAC_Price);

				});
			});
			
			function formSubmit(){
				$('#PC_CP').val( parseInt($('.PC_Price').val()) * parseInt($('#PC_Count').val()) );
				$('#PC_VAT').val( parseInt($('#PC_CP').val()) / 10 );
				$('#PC_VATSUM').val( parseInt($('#PC_CP').val()) + parseInt($('#PC_VAT').val()) );
				 
				document.getElementById("form1").submit();
			}
		</script>

</div>

</html>