<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800" th:text=" '구매번호 : ' + ${pur.pcnum}"></h1>
	</div>
	
	<h6 class="font-weight-bold">구매회사(거래처) 정보</h6>
	
	<table class="table table-bordered table-hover-td" style="max-width:800px;">
		<tbody class="table-group-divider">
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">회사명</th>
				<td th:text="${pur.pccompany}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">회사 시리얼 넘버</th>
				<td th:text="${pur.pccode}"></td>
			</tr>
		</tbody>
	</table>
	
	<div class="my-3 border-bottom" style="max-width:800px;"></div>
	
	<h6 class="font-weight-bold">구매제품 정보</h6>
	
	<table class="table table-bordered table-hover-td" style="max-width:800px;">
		<tbody class="table-group-divider">
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">제품명</th>
				<td th:text="${pur.pcitem}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">구매 수량</th>
				<td th:text="${pur.pccount + '개'}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">제품 가격</th>
				<td th:text="${pur.pcprice + '원'}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">공급가액</th>
				<td th:text="${pur.pccp + '원'}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">부가세액</th>
				<td th:text="${pur.pcvat + '원'}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">총액</th>
				<td th:text="${pur.pcvatsum + '원'}"></td>
			</tr>
			<tr>
				<th class="table-primary text-center" style="width:10%; min-width:200px;">구매 요청일</th>
				<td th:text="${pur.pcdate + '원'}"></td>
			</tr>
		</tbody>
	</table>
	
	<div style="display:flex;">
		<a href="/purchase/list" class="btn border-primary text-primary">목록</a>
	</div>

		<!--
		<div class="my-3">
			<a th:data-uri="@{/orders/create/${pur.PC_Num}}" class="create btn btn-primary" data-pc-num="${pur.PC_Num}" data-or-num="${pur.OR_Num}">발주 신청</a>
		</div>
		-->
</div>
<!--
<script layout:fragment="script" type="text/javascript">
    const create_elements = document.getElementsByClassName("create");
    Array.from(create_elements).forEach(function(element){
        element.addEventListener('click', function(){
            
            let PC_Num_Last10 = this.dataset.PC_Num.substring(this.dataset.PC_Num.length - 10);
            let OR_Num_Last10 = this.dataset.OR_Num.substring(this.dataset.OR_Num.length - 10);

            if (PC_Num_Last10 === OR_Num_Last10) {
                // 동일한 경우: 발주가 이미 완료된 상태이므로 추가 발주가 불가능합니다.
                alert("해당 발주는 이미 완료된 상태이므로 추가 발주가 불가능합니다.");
            } else {
                // 동일하지 않은 경우: 추가 발주 가능
                alert("이 데이터의 정보대로 발주를 신청하시겠습니까?");
            }

            location.href = this.dataset.uri;
        });
    });
</script>
-->
</html>