<html layout:decorate="~{/layout}">
	<div layout:fragment="content" class="container my-3">
		
		<h1 class="my-3 border-bottom pb-2">예약 신청</h1>
		<form id="form1" th:action="@{/reservation/create}" th:object="${resCreateForm}" method="post">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">제품정보 - 아래 체크박스에서 예약하실 제품을 선택해주세요</label>
				<select name="RV_Item" id="RV_Item" class="form-control1" style="width: 50%;">
				<option value="">제품정보를 선택해주세요</option>
				<option th:each="inventory : ${invenList}"
				th:value="${inventory.ININame}"
				th:text="${inventory.ININame}"
				th:data-INICode="${inventory.INICode}"
				th:data-RV-Price="${purchase.PC_Price}">
				</option>					
				</select>
			</div>
			
			<!--
				<div> </div> 제작
				-->
			
			<input type="hidden" name="RV_CP" id="RV_CP" th:value="${RV_CP}" class="form-control">
			<input type="hidden" name="RV_VAT" id="RV_VAT" th:field="*{RV_VAT}" class="form-control">
			<input type="hidden" name="RV_SUM" id="RV_SUM" th:field="*{RV_SUM}" class="form-control">
			<div class="mb-3">
				<input type="button" onclick="formSubmit();" value="예약신청 완료" class="btn btn-primary my-2">
				</div>
			
		
		<script th:inline="javascript">
			$(document).ready(function (){
				$('#ININame').change(function (){
					var valueINICode = $(this).find(':selected').attr("data-INICode");
					var valueRVPrice = selectedOption.attr("data-RV-Price");
					
					$('.RV_Icode').val(valueINICode);
					$('.RV_Price').val(valueRVPrice);
				});
			});
			
			function formSubmit() {
				$('#RV_CP').val( parseInt($('.RV_Price').val()) * parseInt($('#RV_Count').val()) );
				$('#RV_VAT').val( parseInt($('#RV_CP').val()) / 10 );
				$('#RV_SUM').val( parseInt($('#RV_CP').val()) + parseInt($('#RV_VAT').val()) );
				
				document.getElementById("form1").submit();
			}
			
		</script>
		
		</form>
	</div>
</html>