<html layout:decorate="~{/layout}">
	<div layout:fragment="content" class="container my-3">
		
		<h1 class="my-3 border-bottom pb-2">예약 신청</h1>
		<form id="form1" th:action="@{/reservation/create}" th:object="${resCreateForm}" method="post">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
			</div>
			
			<div class="mb-3">
				<label for="jb-input-text">제품정보 - 아래 체크박스에서 예약하실 제품을 선택해주세요</label>
				<select name="rvitem" id="rvitem" class="form-control1" style="width: 50%;">
				<option value="">제품정보를 선택해주세요</option>
				
				<option th:each="inventory : ${invenList}"
				th:value="${item.ItmName}"
				th:text="${item.ItmName}"
				th:data-INICode="${item.ItmCode}"
				
				
				th:data-RV-Price="${purchase.pcprice}">
				</option>					
				</select>
			</div>
			
			<!--
				<div> </div> 제작
				-->
			
			<input type="hidden" name="rvcp" id="rvcp" th:value="${rvcp}" class="form-control">
			<input type="hidden" name="rvvat" id="rvvat" th:field="*{rvvat}" class="form-control">
			<input type="hidden" name="rvsum" id="rvsum" th:field="*{rvsum}" class="form-control">
			<div class="mb-3">
				<input type="button" onclick="formSubmit();" value="예약신청 완료" class="btn btn-primary my-2">
				</div>
			
		
		<script th:inline="javascript">
			$(document).ready(function (){
				$('#ININame').change(function (){
					var valueinicode = $(this).find(':selected').attr("data-INICode");
					var valueRVPrice = selectedOption.attr("data-RV-Price");
					
					$('.rvicode').val(valueinicode);
					$('.rvprice').val(valueRVPrice);
				});
			});
			
			function formSubmit() {
				$('#rvcp').val( parseInt($('.rvprice').val()) * parseInt($('#rvcount').val()) );
				$('#rvvat').val( parseInt($('#rvcp').val()) / 10 );
				$('#rvsum').val( parseInt($('#rvcp').val()) + parseInt($('#rvvat').val()) );
				
				document.getElementById("form1").submit();
			}
			
		</script>
		
		</form>
	</div>
</html>