<html layout:decorate="~{/layout}">
	<div layout:fragment="content" class="container my-3">
		<h1 class="my-3 border-bottom pb-2">판매 입력</h1>
		<form id="formA" th:action="@{/Sales/create}" th:object="${salesCreateForm}" method="post">
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
			</div>
			
			<div class="mb-3">
				<label for="samethod">판매방법을 선택해주세요</label>
				<select name="samethod" id="samethod" class="form-control" style="width: 20%;">
					<option value="">-</option>
					<option value="예약">예약</option>
					<option value="온라인판매">온라인판매</option>
					<option value="오프라인판매">오프라인판매</option>
				</select>
			</div>
			
			<div id="reservationForm" style="display: none;">
				<!-- 예약 전용 폼 시작 -->
			<div>
				<label for="reservationDetails">예약물품정보</label>
				<select id="saitem" name="saitem" class="form-control" style="width: 40%;">
					<option value="">제품을 선택해주세요</option>
					<option th:each="reservation : ${ReserList}" th:value="${reservation.rvitem}" th:text="${reservation.rvitem}"></option>
				</select>
				</div>
				<!-- 예약 전용 폼 끝 -->
			</div>
			
			<script>
				$(document).ready(function(){
					$('#samethod').change(function() {
						var selectedValue = $(this).val(); // 선택한 값 가져오기
						var reservationForm = $('#reservationForm'); // 예약 전용 폼
						
						// 선택한 값이 '예약'일 때
						
						if (selectedValue === '예약') {
							// 예약 상세 정보 폼 보이기
							reservationForm.show();
							
							 var rvitem = $(this).find(':selected').attr("data-rvitem"); // 예약 제품 정보
							 
							 // saitem 입력란에 rvitem 값을 할당
							 $('#saitem').val(rvitem);
							// 예약 상세 정보 폼 안의 예약 상세 정보 입력란 선택
							<!--
								
							var reservationDetailsInput = $('#reservationDetails');
							
							// 여기에 reservation.rvitem와 rvprice 값을 가져와서 출력하는 코드 추가
							var rvitem = "예약 제품 정보"; // 예약 제품 정보
							var rvprice = "예약 제품 가격"; // 예약 제품 가격
							
							// 예약 상세 정보 입력란에 reservation.rvitem와 rvprice 값을 출력
							reservationDetailsInput.val(rvitem + ' - 가격: ' + rvprice);
									-->
							} else {
								// 선택한 값이 '예약'이 아닌 경우 예약 상세 정보 폼 숨기기
								reservationForm.hide();
							}
						});
				});
				</script>
		</form>
	</div>
</html>