<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class="m-3">
	
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">품목 수정</h1>
	</div>
	
	<form th:object="${itemForm}" method="post" Style="width:400px;">
    	<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
    	</div>
    	
		<div>
            <label for="ItmCode" style="margin-right:10px;">품목코드</label>
            <input type="text" th:field="*{ItmCode}" name="ItmCode" id="ItmCode" class="form-control" readonly>
		</div>
		<div class="my-3">
            <label for="ItmName" style="margin-right:10px;">품목명</label>
            <input type="text" th:field="*{ItmName}" name="ItmName" id="ItmName" class="form-control">
        </div>
        <div class="my-3">
            <label for="ItmGroup" style="margin-right:10px;">품목그룹</label>
            <select th:field="*{ItmGroup}" name="ItmGroup" id="ItmGroup" class="form-control">
				<option value="">-</option>
				<option th:each="itemGroup:${itemGroupList}" th:value="${itemGroup.IgName}" th:text="${itemGroup.IgName}" th:data-IgName="${itemGroup.IgName}"></option>
			</select>
        </div>
        <div class="my-3">
            <label for="ItmCategory" style="margin-right:10px;">분류</label>
            <select class="form-control" th:field="*{ItmCategory}" name="ItmCategory" id="ItmCategory">
				<option value="">-</option>
				<option th:each="itemCategory:${itemCategoryList}" th:value="${itemCategory.IcName}" th:text="${itemCategory.IcName}" th:data-IgName="${itemCategory.IcName}"></option>
			</select>
        </div>
        <div class="my-3">
            <label for="ItmStandard" style="margin-right:10px;">규격</label>
            <input type="text" th:field="*{ItmStandard}" name="ItmStandard" id="ItmStandard" class="form-control" >
        </div>
        <div class="my-3">
            <label for="ItmSprice" style="margin-right:10px;">입고 단가</label>
            <input type="number" min="0" step="10" th:field="*{ItmSprice}" name="ItmSprice" id="ItmSprice" class="form-control">
        </div>
        <div class="pb-3 my-3 border-bottom">
            <label for="ItmRprice" style="margin-right:10px;">입고 단가</label>
            <input type="number" min="0" step="10" th:field="*{ItmRprice}" name="ItmRprice" id="ItmRprice" class="form-control">
        </div>

        <div style="display:flex;">
        	<input type="submit" value="저장" class="btn btn-primary">
        	<a href="/basic/item/list" class="btn mx-2 border-primary text-primary">취소</a>
        </div>

</div>

</html>