<html layout:decorate="~{layout}">

<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">품목 조회</h1>
	</div>
	
	<div style="width:1500px;">
		<table class="table table-bordered table-hover-td">
		    <thead class="table-primary">
		        <tr class="text-center">
					<th>#</th>
		            <th>품목코드</th>
		            <th>품목명</th>
		            <th>품목그룹</th>
		            <th>분류</th>
		            <th>규격</th>
		            <th>입고단가</th>
		            <th>출고단가</th>
		            <th>수정/삭제</th>
		        </tr>
		    </thead>
		    <tbody class="table-group-divider">
		        <tr class="text-center" th:each="item, loop:${paging}">
					<td th:text="${paging.getTotalElements - (paging.number*paging.size) - loop.index}"></td>
		            <td>
						<a th:href="@{|/basic/item/detail/${item.ItmId}|}" th:text="${item.ItmCode}"></a>
					</td>
		            <td th:text="${item.ItmName}"></td>
		            <td th:text="${item.ItmGroup}"></td>
		            <td th:text="${item.ItmCategory}"></td>
		            <td th:text="${item.ItmStandard}"></td>
		            <td th:text="${item.ItmSprice}"></td>
		            <td th:text="${item.ItmRprice}"></td>
		            <td>
						<a th:href="@{|/basic/item/modify/${item.ItmId}|}"><img src="/img/pencil-solid.svg" alt="수정" style="height:15px"></a> / 
						<a class="delete" href="javascript:void(0);" th:data-uri="@{|/basic/item/delete/${item.ItmId}|}"><img src="/img/trash-can-solid.svg" alt="삭제" style="height:15px"></a>
					</td>
		        </tr>
		    </tbody>
		</table>
		
		<!-- 페이징처리 시작 -->
		<a th:href="@{/basic/item/create}" class="btn btn-primary" style="float:left;">추가</a>

		<div th:if="${!paging.isEmpty()}" class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">		
			<ul class="pagination justify-content-center">
				<li class="paginate_button page-item previous" id="dataTable_previous" th:classappend="${!paging.hasPrevious} ? 'disabled'">
					<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
						<span>이전</span>
					</a>
				</li>
				<li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
					th:if="${page >= paging.number-5 and page <= paging.number+5}"
					th:classappend="${page == (paging.number+1)} ? 'active'" class="paginate_button page-item">
					<a th:text="${page}" class="page-link" th:href="@{|?page=${page-1}|}"></a>
				</li>
				<li class="paginate_button page-item next" id="dataTable_next" th:classappend="${!paging.hasNext} ? 'disabled'">
					<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
						<span>다음</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- 페이징처리 끝 -->
	</div>
	
	
</div>

<script layout:fragment="script" type='text/javascript'>

	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function(element) {
	    element.addEventListener('click', function() {
	        if(confirm("정말로 삭제하시겠습니까?")) {
	            location.href = this.dataset.uri;
	        };
	    });
	});
	
</script>

</html>	