<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='utf-8' />
	<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
	<link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
	<script src='/fullcalendar/dist/index.global.js'></script>
	<!-- FullCalendar Core 스크립트 로드 -->
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.min.js"></script>
	<!-- FullCalendar Interaction 플러그인 스크립트 로드 -->
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction/main.min.js"></script>
	<!-- FullCalendar DayGrid 플러그인 스크립트 로드 -->
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.min.js"></script>

	<script>

		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				editable: true,
				events: [
					{
						id: 'ab',
						title: '추가기능 구현',
						start: '2024-03-04T10:00:00',
						end: '2024-03-08T12:00:00',
						backgroundColor:'blue'
					},
					{
						id: 'b',
						title: '마무리',
						start: '2024-03-11',
						end: '2024-03-15T12:00:00',
						backgroundColor:'blue'
					}
				],
				selectable: true,
				timeZone: 'UTC',

			});
			calendar.render();
		});

	</script>

</head>

<body>
	<div id='calendar'></div>

</body>

</html>