<!DOCTYPE html>
<html lang="ko">

<head>
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>ZIBZIP</title>
    

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/calendar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/sb-admin-2.css}">
    
    
	<!-- Icon for this template-->
    <script src="https://kit.fontawesome.com/6c36fafc3e.js" crossorigin="anonymous"></script>
    
    <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	
	<!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
	<script src='/fullcalendar/dist/index.global.js'></script>
    
    <!-- Core plugin JavaScript-->
    <!--<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>-->
    
    <!-- Custom scripts for all pages -->
    <script src="/js/sidebar-script.js"></script>


	<!-- Page level plugins --> 
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    
    

	
</head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
		
		<!-- Sidebar -->
		<ul th:replace="~{sidebar :: sidebarFragment}"></ul>
		<!-- End of Sidebar -->
		
		<!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="height:100vh;">

            <!-- Main Content -->
            <div id="content">
				
				<!-- navbar -->
				<nav th:replace="~{navbar :: navbarFragment}"></nav>
				
				<!-- Begin Page Content -->
				<!-- 기본 템플릿 안에 삽입될 내용 Start -->
				<div class="container-fluid">
					<th:block layout:fragment="content"></th:block>
				</div>
				<!-- 기본 템플릿 안에 삽입될 내용 End -->
	            
            </div>
            <!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white mt-4">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; ZIBZIP 2024</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
	            
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Hr/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 자바스크립트 Start -->
	<th:block layout:fragment="script"></th:block>
	<script src="/js/sb-admin-2.js"></script>
	<!-- Page level plugins -->
			<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
			<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
	
			<!-- Page level custom scripts -->
			<script src="/js/demo/datatables-demo.js"></script>
	
			<!-- 자바스크립트 End -->
	
</body>

</html>