<!DOCTYPE html>
<html layout:decorate="~{layout}">

<div layout:fragment="content" class="m-3">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">대시보드</h1>
		<div sec:authorize="isAuthenticated()">
			<a th:text="부서코드+${#authentication.principal.Depart}"></a>
			
			<a th:text="직책코드+${#authentication.principal.Position}"></a>
			<a th:text="권한+${#authentication.principal.authorities}"></a>
		</div>
	</div>

	<!-- authentication.principal 테스트용 -->
	<!--
	<div sec:authorize="isAuthenticated()">
		<a th:text="${#authentication.principal.Empname}"></a>
		<a>님! 반갑습니다</a><br>
		<a>아이디: </a>
		<a th:text="${#authentication.principal.Empid}"></a><br>
		<a>사번: </a>
		<a th:text="${#authentication.principal.username}"></a>
	</div>
	<div sec:authorize="isAnonymous()">
		<a>로그아웃 상태</a>
	</div>
-->
	<style>
		.fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:last-child .fc-prev-button,
		.fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:last-child .fc-next-button,
		 .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:last-child .fc-today-button {
			color: rgb(255, 255, 255);
			/* 텍스트 색상을 원하는 색상으로 변경 */
			background-color: #4E73DF;
			border-color: rgb(255, 255, 255);
		}

		.fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child .fc-timeGridWeek-button,
		.fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child .fc-listWeek-button,
		.fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child .fc-dayGridMonth-button{
			color: rgb(255, 255, 255);
			/* 텍스트 색상을 원하는 색상으로 변경 */
			background-color: #4E73DF;
			border-color: rgb(255, 255, 255);
		}

	</style>


	<!-- Full Calendar -->
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Caledar</h6>
		</div>
		<div class="card-body">
			<div id="calendar" class="fc fc-media-screen fc-direction-ltr fc-theme-standard"></div>
		</div>
	</div>


	<!-- 모달 창 -->
	<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editEventModalLabel">이벤트 수정</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="eventTitleInput">내용</label>
							<input type="text" class="form-control" id="eventTitleInput">
						</div>


						<label for="eventColorSelect">배경색</label>
						<select class="form-control" id="eventColorSelect">
							<option value="">기본</option>
							<option value="blue">파랑</option>
							<option value="red">빨강</option>
							<option value="yellow">노랑</option>
							<!--<option value="green">초록</option>-->
							<option value="aqua">하늘</option>
							<option value="silver">실버</option>
							<option value="orange">주황</option>
							<option value="purple">보라</option>
							<option value="pink">핑크</option>
							<option value="white">흰색</option>
							<option value="black">검정</option>
							<option value="gray">회색</option>
							<!-- 원하는 다른 색상을 추가할 수 있습니다. -->
						</select>
						<label for="eventTextColor">글자색</label>
						<select class="form-control" id="eventTextColor">
							<option value="">흰색</option>
							<option value="blue">파랑</option>
							<option value="red">빨강</option>
							<option value="yellow">노랑</option>
							<option value="green">초록</option>
							<option value="aqua">하늘</option>
							<option value="silver">실버</option>
							<option value="orange">주황</option>
							<option value="purple">보라</option>
							<option value="pink">핑크</option>
							<option value="black">검정</option>
							<option value="gray">회색</option>
							<!-- 원하는 다른 색상을 추가할 수 있습니다. -->
						</select>
						<label for="eventBorderColor">테두리색</label>
						<select class="form-control" id="eventBorderColor">
							<option value="">없음</option>
							<option value="blue">파랑</option>
							<option value="red">빨강</option>
							<option value="yellow">노랑</option>
							<option value="green">초록</option>
							<option value="aqua">하늘</option>
							<option value="silver">실버</option>
							<option value="orange">주황</option>
							<option value="purple">보라</option>
							<option value="pink">핑크</option>
							<option value="white">흰색</option>
							<option value="black">검정</option>
							<option value="gray">회색</option>
							<!-- 원하는 다른 색상을 추가할 수 있습니다. -->
						</select>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="editEventModalConfirm">확인</button>
					<button type="button" class="btn btn-warning" id="editEventModalDelete">삭제</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
				</div>
			</div>
		</div>

	</div>
</div>
<script layout:fragment="script" type='text/javascript'>
	$('#editEventModal').on('keypress', function (e) {
		if (e.which === 13) {
			// Enter 키를 누르면 원하는 버튼 클릭 이벤트 발생
			$('#editEventModalConfirm').click();
		}
	});
	document.addEventListener('DOMContentLoaded', function () {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			//헤더툴바
			headerToolbar: {
				start: 'listWeek,timeGridWeek,dayGridMonth',
				center: 'title',
				end: 'today,prev,next'
			},
			locale: 'ko',
			initialView: 'dayGridMonth',
			editable: true,
			selectable: true,
			timeZone: 'UTC',
			businessHours: true,
			dayMaxEvents: true,

			

			eventSources: [
				{
					events: [
						{
							//"title": "Event 1 고정",
							//"start": "2024-03-05T09:00:00",
							//"color": "red",
							//"textColor": "black"
						}
					],
				},
				{
					events: function (fetchInfo, successCallback, failureCallback) {
						$.ajax({
							url: "/api/events",
							method: "GET",
							success: function (data) {
								var events = data.map(function (event) {
									var start = new Date(event.start);
									var end = new Date(event.end);
										return {
											id: event.id,
											title: event.title,
											start: event.start,
											end: event.end,
											backgroundColor: event.backgroundColor,
											textColor: event.textColor,
											borderColor: event.borderColor,
											editable: true,
											allDay: event.allDay,
										};

			
									
								});

								successCallback(events);
							},
							error: function (error) {
								console.error('이벤트 가져오기 실패:', error);
								failureCallback(error);
							}
						});
					}
				},
				{
					events: function (fetchInfo, successCallback, failureCallback) {
						$.ajax({
							url: "/api/events/calendar",
							method: "GET",
							success: function (data) {
								var events = data.map(function (event) {
									var endDate = new Date(event.enddate); // 종료일을 Date 객체로 변환합니다.
									endDate.setDate(endDate.getDate() + 1); // 종료일에 하루를 추가합니다.
									//var formattedEndDate = endDate.toISOString().substring(0, 10);
									return {

										id: 'va',
										title: "이름: " + event.employee.empname + " 휴가종류: " + event.leavetype + " 부서: " + event.employee.depart.depname,
										start: event.startdate,
										end: endDate,
										backgroundColor: 'green',
										editable: false,
										allDay: true,
									};
								});
								successCallback(events);
							},
							error: function (error) {
								console.error('이벤트 가져오기 실패:', error);
								failureCallback(error);
							}
						});
					}
				},
				{

					events: function (fetchInfo, successCallback, failureCallback) {
						var startDate = fetchInfo.start;
						var endDate = fetchInfo.end;
						var middleDate = new Date((startDate.getTime() + endDate.getTime()) / 2);
						var year = middleDate.getFullYear();
						var month = (middleDate.getMonth() + 1).toString().padStart(2, '0');
						// 공공데이터 포털 API 호출 및 휴일 정보 가져오기
						$.ajax({
							url: 'https://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getHoliDeInfo?'
								+ 'serviceKey=mu0qncUi0U6yoO7DgzbUU00wwHqMKq8rq2vtRGyESGNXZ0QlR6XfEKjqCPySkZr4xeZyEk0nj%2F85VW6ujR3ngQ%3D%3D'
								+ '&solYear=' + year + '&solMonth=' + month,
							success: function (response) {
								// XML을 JavaScript 객체로 파싱
								var xml = response.documentElement;
								var items = Array.from(xml.querySelectorAll('item'));
								// XML에서 필요한 데이터 추출
								var holidayEvents = items.map(function (item) {
									var dateName = item.querySelector('dateName').textContent; // 휴일 이름
									var locdate = item.querySelector('locdate').textContent; // 휴일 날짜
									// FullCalendar 이벤트 형식으로 변환하여 배열에 추가
									return {
										id: 'va',
										title: dateName,
										start: locdate,
										allDay: true,
										editable: false,
										backgroundColor: 'red',
										borderColor: 'red',
										textColor: 'white',
										className: 'holiday-event'
									};
								});

								// FullCalendar에 휴일 이벤트 추가
								successCallback(holidayEvents);
							},
							error: function (error) {
								console.error('휴일 정보 가져오기 실패:', error);
							}
						});
					},
				}
			],

			//휴일색 변경
			dayCellContent: function (arg) {
				var holidays = ['2024-01-01']; // 공휴일 목록

				var dateString = arg.date.getFullYear() + '-' + ('0' + (arg.date.getMonth() + 1)).slice(-2) + '-' + ('0' + arg.date.getDate()).slice(-2);
				if (holidays.includes(dateString)) {
					return {html: '<div style="color: red;">' + arg.dayNumberText + '</div>'};
				}

				if (arg.date.getDay() === 0) { // 0은 일요일을 나타냅니다.
					return {html: '<div style="color: red;">' + arg.dayNumberText + '</div>'};
				}
				if (arg.date.getDay() === 6) { // 0은 일요일을 나타냅니다.
					return {html: '<div style="color: blue;">' + arg.dayNumberText + '</div>'};
				}
				return arg.dayNumberText;
			},


			//사용자가 달력에서 날짜를 선택할 때 호출되는 이벤트 핸들러
			select: function (info) {
				$('#eventTitleInput').val("");
				$('#eventColorSelect').val("");
				$('#eventTextColor').val("");
				$('#eventBorderColor').val("");
				$('#editEventModal').modal('show');
				$('#editEventModalConfirm').off('click').on('click', function () {
					var newTitle = $('#eventTitleInput').val();
					var selectedColor = $('#eventColorSelect').val();
					var selectedtextColor = $('#eventTextColor').val();
					var selectedborderColor = $('#eventBorderColor').val();
					var startDate = info.start;
					var endDate = info.end;
					var allDay = info.allDay;

					var eventData = {
						title: newTitle,
						start: startDate,
						end: endDate,
						backgroundColor: selectedColor,
						textColor: selectedtextColor,
						borderColor: selectedborderColor,
						allDay: allDay,
					};
					// 추가: 서버에 새 이벤트 추가 요청
					$.ajax({
						type: "POST",
						contentType: "application/json",
						url: "/api/events",
						data: JSON.stringify(eventData),
						success: function (response) {
							calendar.addEvent(response);
							console.log("이벤트가 성공적으로 수정되었습니다.");
						},
						error: function (error) {
							console.error('이벤트 추가 실패:', error);
						}
					});

					$('#editEventModal').modal('hide');
				});
			},



			//이벤트 선택할 때 호출되는 이벤트 핸들러
			//info.event: 클릭된 이벤트를 나타내는 FullCalendar의 이벤트 객체입니다. 이 객체는 이벤트에 대한 모든 정보를 포함하고 있습니다.
			//info.el: 클릭된 이벤트의 HTML 요소입니다. FullCalendar에서 이벤트를 렌더링하는 데 사용됩니다.
			//info.jsEvent: 클릭 이벤트에 대한 원본 JavaScript 이벤트입니다. 주로 마우스 클릭 이벤트입니다.
			//info.view: 클릭된 이벤트가 발생한 뷰를 나타냅니다. 뷰는 FullCalendar에서 현재 보여지고 있는 캘린더 뷰를 나타냅니다.
			eventClick: function (info) {
				console.log(info.event.start);
				if (info.event.id != 'va') {
					$('#eventTitleInput').val(info.event.title);
					$('#eventColorSelect').val(info.event.backgroundColor);
					$('#eventTextColor').val(info.event.textColor);
					$('#eventBorderColor').val(info.event.borderColor);
					$('#editEventModal').modal('show');

					$('#editEventModalConfirm').off('click').on('click', function () {
						var newTitle = $('#eventTitleInput').val();
						var selectedColor = $('#eventColorSelect').val();
						var selectedtextColor = $('#eventTextColor').val();
						var selectedborderColor = $('#eventBorderColor').val();
						var newStart = info.event.start;
						var newEnd = info.event.end;
						var allDay = info.event.allDay;
						var eventId = info.event.id; // info 객체로부터 이벤트 ID 추출
						
						var eventData = {
							title: newTitle,
							start: newStart,
							end: newEnd || newStart,
							backgroundColor: selectedColor,
							textColor: selectedtextColor,
							borderColor: selectedborderColor,
							allDay: allDay,
							id: eventId // 이벤트의 고유 식별자
						};

						// 서버에 수정된 이벤트 정보를 전송
						$.ajax({
							type: "PUT",
							contentType: "application/json",
							url: "/api/events/" + eventId,
							data: JSON.stringify(eventData),
							success: function (response) {
								// 서버에서 성공적으로 응답을 받았을 때 수행할 작업
								// 이전 이벤트를 삭제
								info.event.remove();

								// 새 이벤트를 추가
								calendar.addEvent(response);
								console.log("이벤트가 성공적으로 수정되었습니다.");
							},
							error: function (error) {
								// 서버에서 오류가 발생했을 때 수행할 작업
								console.error('이벤트 수정 실패:', error);
							}
						});
						$('#editEventModal').modal('hide');

					});

					$('#editEventModalDelete').off('click').on('click', function () {
						// 선택된 이벤트를 삭제
						if (info.event) {
							var eventId = info.event.extendedProps.id; // 이벤트의 ID 가져오기
							// 서버로 삭제 요청 보내기
							$.ajax({
								url: 'http://localhost:8080/api/events/' + info.event.id,
								type: 'DELETE',
								success: function () {
									// 삭제 성공 시 캘린더에서도 이벤트 제거
									info.event.remove();
									// 모달 창 닫기
									$('#editEventModal').modal('hide');
								},
								error: function () {
									// 삭제 실패 시 예외 처리

									alert('이벤트 삭제에 실패했습니다.');
								}
							});
						}
					});
				} else {

				}
			},
			//이벤트를 드래그하여 다른 날짜나 시간으로 이동할 때 발생합니다. 
			//이 이벤트 핸들러는 이벤트가 드래그되었을 때 발생하는 동작을 처리할 때 사용
			//info.event: 이동된 이벤트의 FullCalendar 이벤트 객체입니다.
			//info.oldEvent: 이동하기 전의 이벤트 정보를 포함하는 FullCalendar 이벤트 객체입니다.
			//info.delta: 이동한 시간 차이를 나타내는 객체입니다. { days, milliseconds, months, years } 형식의 값을 가집니다.
			eventDrop: function (info) {
				var newTitle = info.event.title;
				var selectedColor = info.event.backgroundColor;
				var newtextColor = info.event.textColor;
				var newborderColor = info.event.borderColor;
				var newStart = info.event.start;
				var newEnd = info.event.end || newStart;
				var allDay = info.event.allDay;
				var eventId = info.event.id;

				var eventData = {
					title: newTitle,
					start: newStart,
					end: newEnd,
					backgroundColor: selectedColor,
					textColor: newtextColor,
					borderColor: newborderColor,
					allDay: allDay,
					id: eventId

				};

				// 서버에 수정된 이벤트 정보를 전송
				$.ajax({
					type: "PUT",
					contentType: "application/json",
					url: "/api/events/" + eventId,
					data: JSON.stringify(eventData),
					success: function (response) {
						// 서버에서 성공적으로 응답을 받았을 때 수행할 작업
						console.log("이벤트가 성공적으로 업데이트되었습니다.");
					},
					error: function (error) {
						// 서버에서 오류가 발생했을 때 수행할 작업
						console.error('이벤트 업데이트 실패:', error);
					}
				});
			},
			//이벤트를 늘리거나 줄였을 때 발생합니다. 
			//이 이벤트 핸들러는 이벤트의 기간이 변경되었을 때 발생하는 동작을 처리할 때 사용됩니다.
			//info.event: 변경된 이벤트의 FullCalendar 이벤트 객체입니다.
			//info.oldEvent: 변경하기 전의 이벤트 정보를 포함하는 FullCalendar 이벤트 객체입니다.
			//info.delta: 크기 변경으로 인한 시간 차이를 나타내는 객체입니다. { days, milliseconds, months, years } 형식의 값을 가집니다.
			eventResize: function (info) {
				var newTitle = info.event.title;
				var selectedColor = info.event.backgroundColor;
				var newtextColor = info.event.textColor;
				var newborderColor = info.event.borderColor;
				var newStart = info.event.start;
				var newEnd = info.event.end || newStart;
				var allDay = info.event.allDay;
				var eventId = info.event.id;

				var eventData = {
					title: newTitle,
					start: newStart,
					end: newEnd,
					backgroundColor: selectedColor,
					textColor: newtextColor,
					borderColor: newborderColor,
					allDay: allDay,
					id: eventId
				};

				// 서버에 수정된 이벤트 정보를 전송
				$.ajax({
					type: "PUT",
					contentType: "application/json",
					url: "/api/events/" + eventId,
					data: JSON.stringify(eventData),
					success: function (response) {
						// 서버에서 성공적으로 응답을 받았을 때 수행할 작업
						console.log("이벤트가 성공적으로 업데이트되었습니다.");
					},
					error: function (error) {
						// 서버에서 오류가 발생했을 때 수행할 작업
						console.error('이벤트 업데이트 실패:', error);
					}
				});
			},
			//달력에서 특정 날짜를 클릭할 때 발생합니다. 
			//이 이벤트 핸들러는 사용자가 달력의 날짜를 선택할 때 유용하게 사용될 수 있습니다.
			//info.date: 클릭된 날짜의 JavaScript Date 객체입니다.
			//info.dayEl: 클릭된 날짜의 HTML 요소입니다. 이벤트 핸들러 내에서 이 요소를 조작할 수 있습니다.
			dateClick: function (info) {
				//console.log(info);
			}

		});
		calendar.render();

	});

</script>

</html>