<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
	<table class="table">

		<thead class="table-primary">
			<tr class="text-center">
				<th>부서코드</th>
				<th>부서명</th>
				
				<th>삭제 / 수정</th>
			</tr>
		</thead>

		<tbody>
			<tr class="text-center table-active" th:each="deplist : ${paging}">
				<td th:text="${deplist.depcode}" >
				</td>
				<td th:text="${deplist.depname}"></td>
				<td>
					<a th:href="@{/dep/delete/{id}(id=${deplist.id})}" th:text="삭제"></a> /
					<a th:href="@{/dep/modify/{id}(id=${deplist.id})}" th:text="수정"></a>
				</td>
			</tr>
		</tbody>

	</table>
	
	<div class="col-6">
			<a th:href="@{/dep/create}" class="btn btn-primary">부서 추가</a>
		</div>
		
		

</div>

</html>