<!DOCTYPE html>
<html layout:decorate="~{layout}">


<div layout:fragment="content" class="container my-3">

	<div class="card">
		<div class="card-header bg-primary text-center">
			<h2 class="text-white">사원 정보</h2>
			<div id="alertMessage" style="display:none;"></div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<img src="/img/undraw_profile_1.svg" alt="사원 사진" class="img-fluid">
				</div>
				<div class="col-md-8">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><strong>이름:</strong> <span th:text="${empDtail.empname}"></span>
						</li>
						<li class="list-group-item"><strong>사번:</strong> <span th:text="${empDtail.empnum}"></span></li>
						<li class="list-group-item"><strong>주소:</strong> <span th:text="${empDtail.empadd}"></span></li>
						<li class="list-group-item"><strong>전화번호:</strong> <span th:text="${empDtail.empphone}"></span>
						</li>
						<li class="list-group-item"><strong>이메일:</strong> <span th:text="${empDtail.empmail}"></span>
						</li>
						<li class="list-group-item"><strong>입사일:</strong> <span th:text="${empDtail.empdate}"></span>
						</li>
						<li class="list-group-item"><strong>부서:</strong>
							<span th:text="${empDtail.depart != null ? empDtail.depart.depname : '부서 정보 없음'}"></span>
						</li>
						<li class="list-group-item"><strong>직책:</strong> <span
								th:text="${empDtail.position != null ? empDtail.position.positionname : '직책 정보 없음'}"></span>
						</li>
						<li class="list-group-item"><strong>직위:</strong> <span
								th:text="${empDtail.spot != null ? empDtail.spot.spotname : '직위 정보 없음'}"></span>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!--		sec:authorize="isAuthenticated()"
			th:if="${empDtail.id != null and #authentication.principal.Empid == empDtail.id or #authentication.principal.Position > 1}">-->
		<div class="my-3">
			<a th:href="@{|/Hr/modify/${empDtail.id}|}" class="btn btn-primary ml-4" th:text="수정"></a>

			<a th:href="@{|/Hr/pass/${empDtail.id}|}" class="btn btn-primary" id="passbutton" th:text="비밀번호변경"></a>

			<a href="javascript:void(0);" th:data-uri="@{|/Hr/delete/${empDtail.id}|}"
				class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>
			<!--<a th:href="@{|/Hr/delete/${empDtail.id}|}" 
				class="delete btn btn-sm btn-outline-secondary" th:text="삭제"></a>
				th:if="${empDtail.id != null and  #authentication.principal.Empid == 1}"-->

		</div>
	</div>

	<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"></h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				
				<div class="modal-body">

				</div>
				
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">확인</button>
				</div>
				
			</div>
		</div>
	</div>
</div>


<script layout:fragment="script" type='text/javascript' th:inline="javascript">
	function openModal(errorMessage) {
		var modal = document.getElementById("Modal");
		var modalBody = modal.querySelector(".modal-body");
		modalBody.innerHTML = "<a>" + errorMessage + "</a>";
		$(modal).modal("show");
	}
	
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 삭제하시겠습니까?")) {
				delEmp(this.getAttribute("data-uri").split("/").pop());  // /맨뒤부분 추출
			};
		});
	});

	function delEmp(id) {
		$.ajax({
			type: 'GET',
			url: '/Hr/delete/' + id,
			success: function (data) {
				// 성공 시 동작
				window.location.href = '/Hr/list';
			},
			error: function (xhr, status, error) {
				// 실패 시 동작
				var errorMessage;
				if (xhr.status === 401) {
					errorMessage = xhr.responseText;
					window.location.href = '/Hr/login';
				}
				if (xhr.status === 500) {
					errorMessage = "오류가 발생했습니다.";
				} else {
					errorMessage = xhr.responseText;
				}
				openModal(errorMessage);
				
			}
		});
	}
	
	
// 버튼 클릭 이벤트 리스너 등록
$('#passbutton').click(function(event) {
    // 버튼의 기본 동작(링크 이동) 막기
    event.preventDefault();

    var userId = /*[[${empDtail.id}]]*/''; 
    // AJAX 요청 보내기
    $.ajax({
        url: '/Hr/pass/' + userId,
        type: 'GET',
        success: function(data) {
            // 요청이 성공한 경우 처리 로직
            // 예: 비밀번호 변경 페이지로 이동
            window.location.href = '/Hr/pass/' + userId;
        },
        error: function(xhr, status, error) {
			console.log(xhr.responseJSON.message);
			 // 요청이 실패한 경우 오류 처리 로직
            var errorMessage = xhr.responseJSON.message;
            // 오류 메시지를 모달 등의 방법으로 표시
			openModal(errorMessage);
        }
    });
});
</script>


</html>