<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pd-2">사원 추가</h5>
	<form th:action="@{/Hr/create}" th:object="${emp_Form}" method="post">
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
		</div>
		<div class="mb-3">
			<label for="empname" class="form-label">이름</label>
			<input type="text" th:field="*{empname}" name="empname" id="empname" class="form-control" style="width: 30%;">
		</div>
		<div class="mb-3">
			<label for="empssn" class="form-label">주민등록번호</label>
			<input type="text" th:field="*{empssn}" name="empssn" id="empssn" class="form-control">
		</div>
		<div class="mb-3">
			<label for="empadd" class="form-label">주소</label>
			<input type="text" th:field="*{empadd}" name="empadd" id="empadd" class="form-control" >
		</div>
		
		<div class="mb-3">
			<label for="empphone" class="form-label">폰번호</label>
			<input type="tel" th:field="*{empphone}" name="empphone" id="empphone" class="form-control"  >
		</div>
		<div class="mb-3">
			<label for="empmail" class="form-label">이메일</label>
			<input type="email" th:field="*{empmail}" name="empmail" id="empmail" class="form-control">
		</div>
		<div class="mb-3">
			<label for="empdate" class="form-label">입사일자</label>
			<input type="date" th:field="*{empdate}" name="empdate" id="empdate" class="form-control" required>
		</div>

		<div class="form-group mb-3">
			<label for="empspot" class="form-label mt-4">직위</label>
			<select class="form-select" name="empspot" id="empspot">
				<option value="-">-</option>
				<option value="인턴">인턴</option>
				<option value="사원">사원</option>
				<option value="대리">대리</option>
				<option value="과장">과장</option>
				<option value="부장">부장</option>
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="empposition" class="form-label mt-4">직책</label>
			<select class="form-select" name="empposition" id="empposition">
				<option value="-">-</option>
				<option value="팀원">팀원</option>
				<option value="부팀장">부팀장</option>
				<option value="팀장">팀장</option>
			</select>
		</div>

		<div class="form-group mb-3">
			<label for="depcode" class="form-label mt-4">부서</label>
			<select class="form-select" name="depcode" id="depcode">
				<!--<option value="-">-</option>-->
				<option value="101">인사</option>
				<option value="102">품질</option>
				<option value="103">영업</option>
				<option value="104">생산</option>
				<option value="105">자재</option>
			</select>
		</div>

		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>

</html>