<!DOCTYPE html>
<html layout:decorate="~{layout}">


<div layout:fragment="content" class="m-3">
	
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">직책 관리</h1>
	</div>
	
	<table class="table table-bordered table-hover-td" style="width:500px;">

		<thead class="table-primary">
			<tr class="text-center">
				<th>직책코드</th>
				<th>직책명</th>
				
				<th th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.Empid == 1}">삭제 / 수정</th>
			</tr>
		</thead>

		<tbody>
			<tr class="text-center" th:each="posi : ${paging}">
				<td th:text="${posi.positioncode}" >
				</td>
				<td th:text="${posi.positionname}"></td>
				<td th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.Empid == 1}">
					<a th:href="@{/position/delete/{id}(id=${posi.id})}" th:text="삭제"></a> /
					<a th:href="@{/position/modify/{id}(id=${posi.id})}" th:text="수정"></a>
				</td>
			</tr>
		</tbody>

	</table>
	
	<div class="col-6">
			<a th:if="${#authorization.expression('isAuthenticated()') and #authentication.principal.Empid == 1}" th:href="@{/position/create}" class="btn btn-primary">직책 추가</a>
		</div>
		
		

</div>

</html>