<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
<div class="d-sm-flex align-items-center justify-content-between mb-3">
			<h1 class="h3 mb-0 text-gray-800">휴가 정보</h1>
		</div>

	<table class="table table-bordered table-hover-td">

		<thead class="table-primary">
			<tr class="text-center">
				<th>사번</th>
				<th>사원명</th>
				<th>부서</th>
				<th>휴가 시작날짜</th>
				<th>휴가 종료날짜</th>
				<th>휴가 일수</th>
				<th>휴가 종류</th>
				<th>삭제 / 수정</th>
			</tr>
		</thead>

		<tbody>
			<tr class="text-center" th:each="vacalist : ${paging}">
				<td> <span th:if="${vacalist.employee != null}" th:text="${vacalist.employee.empnum}"></span></td>
				<td> <span th:if="${vacalist.employee != null}" th:text="${vacalist.employee.empname}"></span></td>
				<td> <span th:if="${vacalist.employee.depart != null}" th:text="${vacalist.employee.depart.depname}"></span></td>
				<td th:text="${vacalist.startdate}"></td>
				<td th:text="${vacalist.enddate}"></td>
				<td th:text="${vacalist.period}"></td>
				<td th:text="${vacalist.leavetype}"></td>
				<td>
					<a class="delete" href="javascript:void(0);" th:data-uri="@{|/vacation/delete/${vacalist.id}|}" th:text="삭제"></a> /
					<a th:href="@{/vacation/modify/{id}(id=${vacalist.id})}" th:text="수정"></a>
				</td>
			</tr>
		</tbody>

	</table>
	
	<div class="col-6">
			<a th:href="@{/vacation/create}" class="btn btn-primary">휴가 신청</a>
		</div>
	<!-- 페이징처리 시작 -->
	<!--?page=0   페이지번호 1-->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
				<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
					<span>이전</span>
				</a>
			</li>
			<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				th:if="${page >= paging.number-4 and page <= paging.number+4}"
				th:classappend="${page == paging.number} ? 'active'" class="page-item">
				<a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
			</li>
			<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
				<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
					<span>다음</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- 페이징처리 끝 -->

	<script layout:fragment="script" type='text/javascript'>
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("정말로 삭제하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
	</script>
	


</div>

</html>